
.ui-panel {
	padding: 0 !important; 
}

/* Estilo para barra de estatus */
.status-dialog {
	padding: 10px !important;
	margin: 0;
}

.status-dialog .ui-dialog-titlebar {
	display: none !important;
}

.status-dialog .ui-dialog-content {
	padding: 0 !important;
	margin: 0 !important;
}


/* Modifica estilo de checkbox */
.ui-selectmanycheckbox label, .ui-selectoneradio label{
	margin-right:25px !important;
}

#custom-table .ui-datatable thead th, .ui-datatable tfoot td {
	text-align: center;
	font-size: 11px;
	font-family: Arial;
}

#custom-table .ui-datatable tbody td {
	border-color: inherit;
	font-size: 12px;
	font-family: Arial;
}
