body {
	background-color:#f6f6f6;
}

a{
	color:#763f8e; /* #0f9dbd; BDP*/
}


h2{
	color:#5c2f7b;
}

/*------------ Start button pink ------------*/
.btn-pink {
  	background-color: #d0107c;
  	border-color: #d0107c;
  	color: white;
  	font-size:13px !important;
}
.btn-pink:hover,
.btn-pink:focus,
.btn-pink:active,
.btn-pink.active {
 	background-color: #b80e6e;
  	border-color: #a10c60;
  	color: white;
}
.btn-pink.disabled:hover,
.btn-pink.disabled:focus,
.btn-pink.disabled:active,
.btn-pink.disabled.active,
.btn-pink[disabled]:hover,
.btn-pink[disabled]:focus,
.btn-pink[disabled]:active,
.btn-custom[disabled].active,
fieldset[disabled] .btn-pink:hover,
fieldset[disabled] .btn-pink:focus,
fieldset[disabled] .btn-pink:active,
fieldset[disabled] .btn-pink.active {
  	background-color: #d0107c;
  	border-color: #d0107c;
  	color: white;
}

/*------------ start button blue ------------*/

.btn-blue {
  background-color: #763f8e!important;/*#0f9dbd !important; BDP*/
  border-color:  #763f8e !important;/*#0f9dbd !important; BDP*/
  color: white !important;
}
.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active,
.btn-blue.active {
  background-color: #8e19aa;/*#0d89a5; BDP*/
  border-color: #6c0990;/*#0b768e; BDP*/
  color: white;
}
.btn-blue.disabled:hover,
.btn-blue.disabled:focus,
.btn-blue.disabled:active,
.btn-blue.disabled.active,
.btn-blue[disabled]:hover,
.btn-blue[disabled]:focus,
.btn-blue[disabled]:active,
.btn-blue[disabled].active,
fieldset[disabled] .btn-blue:hover,
fieldset[disabled] .btn-blue:focus,
fieldset[disabled] .btn-blue:active,
fieldset[disabled] .btn-blue.active {
  background-color: #763f8e; /* #0f9dbd; BDP*/
  border-color: #763f8e; /* #0f9dbd; BDP*/
  color: white;
}
/*------------ Start icons ------------*/
@font-face {
	font-family: 'rsa';
	src:url('fonts/rsa.eot');
	src:url('fonts/rsa.eot?#iefix') format('embedded-opentype'),
		url('fonts/rsa.ttf') format('truetype'),
		url('fonts/rsa.woff') format('woff'),
		url('fonts/rsa.svg#rsa') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class*="icon-"] {
	font-family: 'rsa';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-number:before {
	content: "\e600";
}
.icon-number2:before {
	content: "\e601";
}
.icon-number3:before {
	content: "\e602";
}
.icon-number4:before {
	content: "\e603";
}
.icon-number5:before {
	content: "\e604";
}
.icon-number6:before {
	content: "\e605";
}
.icon-number7:before {
	content: "\e606";
}
.icon-number8:before {
	content: "\e607";
}
.icon-number9:before {
	content: "\e608";
}
.icon-number10:before {
	content: "\e609";
}
.icon-calendar:before {
	content: "\e60a";
}
.icon-cancel:before {
	content: "\e60b";
}
.icon-cancel2:before {
	content: "\e60c";
}
.icon-pen:before {
	content: "\e60d";
}
.icon-question:before {
	content: "\e60f";
}
.icon-loop-alt2:before {
	content: "\e610";
}
.icon-addfriend:before {
	content: "\e611";
}
.icon-removefriend:before {
	content: "\e612";
}
.icon-automobile:before {
	content: "\e613";
}
.icon-automobile-left:before {
content: "\e613";
float: left;
margin-left: 25%;
margin-right: 10px;
padding: 0;
margin-top: 8px;
clear: both;
}

.icon-men:before {
	content: "\e614";
}
.icon-women:before {
	content: "\e615";
}
.icon-metro:before {
	content: "\e616";
}
.icon-calculator:before {
	content: "\e617";
}
.icon-piggybank:before {
	content: "\e618";
}
.icon-dollar2:before {
	content: "\e619";
}
.icon-emergency:before {
	content: "\e61a";
}
.icon-building:before {
	content: "\e61b";
}
.icon-shipping:before {
	content: "\e61c";
}
.icon-bus:before {
	content: "\e61d";
}
.icon-bank:before {
	content: "\e61f";
}
.icon-lifefull:before {
	content: "\e620";
}
.icon-envelope:before {
	content: "\e621";
}
.icon-envelope2:before {
	content: "\e622";
}
.icon-phone:before {
	content: "\e623";
}
.icon-user:before {
	content: "\e624";
}
.icon-user2:before {
	content: "\e625";
}
.icon-board:before {
	content: "\e626";
}
.icon-medicine:before {
	content: "\e627";
}
.icon-car:before {
	content: "\e628";
}
.icon-truck:before {
	content: "\e629";
}
.icon-home-outline:before {
	content: "\e62b";
}

.icon-facebook {
	background-image:url("../img/site/a001.png");
	background-size:30px 30px;
	background-repeat: no-repeat;
	width:30px;
	height:30px;
	float: right;
    margin-right: 250px;
   
}

.icon-twitter {
	background-image:url("../img/site/a002.png");
	background-size:30px 30px;
	background-repeat: no-repeat;
	width:30px;
	height:30px;
	float: right;
    margin-right: 10px;
}

.icon-help{
	background-image:url("../img/site/ayuda_icono.png");
	background-size:30px 30px;
	background-repeat: no-repeat;
	width:30px;
	height:30px;
	max-width:30px;
}

/*--------- End icons -------------*/

/*--------- Strar RSA style -----------*/

.left {
text-align: left;
}



.help {
	background-color:#cf147f;
	color:white;
	padding:20px;
}
.help2 {
	background-color:#cf147f;
	height:8px;
}

.help_info {
	font-size:1.8em;
}

.help_grid {
	background-color:#cf147f;
	border-radius: 0 0 10px 10px;
	box-shadow: 3px 3px 3px #888888;
	color:white;
	font-size:1.2em;
	padding-top:5px;
	padding-bottom:5px;
	text-align:center;
}

.help_grid a {
	color:white;
	text-decoration:none;
}
.help_grid a:hover {
	color:white;
	text-decoration:none;
}
.logo {
	margin-top:25px;
	text-align:center;
}
.logo img {
	width:100%;
	max-width:150px;
}

.form-rsa {
	padding:15px;
}

.footer {
	background-color:#2d2d2d;
	color:white;
	margin-top:10px;
	padding:20px;
	text-align:center;
	background-image:url("../img/site/footer-small-logos.png");
	background-repeat: no-repeat;
	background-position:center 15px;
    height:110px;
}

.rsa a {
	color:#0f9dbd;
	text-decoration:none;
}

.rsa a:hover {
	color:#0f9dbd;
	text-decoration:underline;
}

.rsa a:visited {
	color:#0f9dbd;
	text-decoration:none;
} 

.rsa a:active {
	color:#0f9dbd;
	text-decoration:none;
}

.form01 {
	text-align:right;
}

.fila {
	background:white;
	border-radius:10px;
	border: 1px solid #cfcfcf;
	margin:0px 15px;
	padding:15px;
}


.titulo1 {
	font-size:22px;
	font-weight:bold;
	color:#5c2f7b;
	margin:5px 20px;

}

.titulo2 {
	font-size:18px;
	font-weight:bold;
	color:#2E2E2E;
	margin:5px 20px;

}

.footer_info {
	padding: 20px 0px 20px 0;
}


.text-alt{
		text-align:left;
	}
	
	
@media(max-width:767px){
	.help_info {
		font-size:1.5em;
	}
	.form01 {
		text-align:left;
	}
	.titulo1 {
		text-align:center;
	}
	.titulo2 {
		text-align:center;
	}
	.text-alt{
		text-align:right;
	}


}
@media(min-width:768px){

	
}
@media(min-width:992px){
	.form01 {
		text-align:right;
	}
}
@media(min-width:1200px){
	.form01 {
		text-align:right;
	}
}

	/* 
	Generic Styling, for Desktops/Laptops 
	*/
	table.responsive  { 
		width: 100%; 
		border-collapse: collapse; 
		
	}
	/* Zebra striping */
	table.responsive tr:nth-of-type(odd) { 
		background: #f9f9f9; 
	}
	table.responsive th { 
		background-color:white;
		color:#0f9dbd;
		font-weight: bold; 
	}
	table.responsive td, th { 
		padding: 6px; 
		border-bottom: 1px solid #ccc; 
		text-align: left; 
	}

/* 
	Max width before this PARTICULAR table gets nasty
	This query will take effect for any screen smaller than 760px
	and also iPads specifically.
	*/
	@media 
	only screen and (max-width: 760px),
	(min-device-width: 768px) and (max-device-width: 1024px)  {
	
		/* Force table to not be like tables anymore */
		.responsive table, .responsive thead,.responsive tbody,.responsive th, .responsive td, .responsive tr { 
			display: block;
			font-size:10px; 
		}
		
		/* Hide table headers (but not display: none;, for accessibility) */
		table.responsive thead tr { 
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
		
		table.responsive tr { border: 1px solid #ccc; }
		
		table.responsive td { 
			/* Behave  like a "row" */
			border: none;
			border-bottom: 0px solid #eee; 
			position: relative;
			padding-left: 50%; 
		}
		
		table.responsive td:before { 
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 6px;
			left: 6px;
			width: 45%; 
			padding-right: 10px; 
			white-space: nowrap;
			color:#0f9dbd;
		}
		
		/*
		Label the data
		*/
		table.responsive td:nth-of-type(1):before { content: "AMPARADA"; }
		table.responsive td:nth-of-type(2):before { content: "COBERTURAS"; }
		table.responsive td:nth-of-type(3):before { content: "SUMA ASEGURADA"; }
		table.responsive td:nth-of-type(4):before { content: "DEDUCIBLE"; }
	}
	
	/* Tabla 2 */
	
	/* 
	Generic Styling, for Desktops/Laptops 
	*/
	table.responsive2  { 
		width: 100%; 
		border-collapse: collapse; 
		
	}
	/* Zebra striping */
	table.responsive2 tr:nth-of-type(odd) { 
		background: #f9f9f9; 
	}
	table.responsive2 th { 
		background-color:white;
		color:#0f9dbd;
		font-weight: bold; 
	}
	table.responsive2 td, th { 
		padding: 6px; 
		border-bottom: 1px solid #ccc; 
		text-align: left; 
	}

/* 
	Max width before this PARTICULAR table gets nasty
	This query will take effect for any screen smaller than 760px
	and also iPads specifically.
	*/
	@media 
	only screen and (max-width: 760px),
	(min-device-width: 768px) and (max-device-width: 1024px)  {
	
		/* Force table to not be like tables anymore */
		.responsive2 table, .responsive2 thead,.responsive2 tbody,.responsive2 th, .responsive2 td, .responsive2 tr { 
			display: block;
			font-size:10px; 
		}
		
		/* Hide table headers (but not display: none;, for accessibility) */
		table.responsive2 thead tr { 
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
		
		table.responsive2 tr { border: 1px solid #ccc; }
		
		table.responsive2 td { 
			/* Behave  like a "row" */
			border: none;
			border-bottom: 0px solid #eee; 
			position: relative;
			padding-left: 50%; 
		}
		
		table.responsive2 td:before { 
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 6px;
			left: 6px;
			width: 45%; 
			padding-right: 10px; 
			white-space: nowrap;
			color:#0f9dbd;
		}
		
		/*
		Label the data
		*/
		table.responsive2 td:nth-of-type(1):before { content: "AGENTE"; }
		table.responsive2 td:nth-of-type(2):before { content: "PARTICIPACION"; }
		table.responsive2 td:nth-of-type(3):before { content: "QUITAR"; }
	}
	
	
	/* Tabla 3 */
	
	/* 
	Generic Styling, for Desktops/Laptops 
	*/
	table.responsive3  { 
		width: 100%; 
		border-collapse: collapse; 
		
	}
	/* Zebra striping */
	table.responsive2 tr:nth-of-type(odd) { 
		background: #f9f9f9; 
	}
	table.responsive3 th { 
		background-color:white;
		color:#0f9dbd;
		font-weight: bold; 
	}
	table.responsive3 td, th { 
		padding: 6px; 
		border-bottom: 1px solid #ccc; 
		text-align: left; 
	}

/* 
	Max width before this PARTICULAR table gets nasty
	This query will take effect for any screen smaller than 760px
	and also iPads specifically.
	*/
	@media 
	only screen and (max-width: 760px),
	(min-device-width: 768px) and (max-device-width: 1024px)  {
	
		/* Force table to not be like tables anymore */
		.responsive3 table, .responsive3 thead, .responsive3 tbody, .responsive3 th, .responsive3 td, .responsive3 tr { 
			display: block;
			font-size:10px; 
		}
		
		/* Hide table headers (but not display: none;, for accessibility) */
		table.responsive3 thead tr { 
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
		
		table.responsive3 tr { border: 1px solid #ccc; }
		
		table.responsive3 td { 
			/* Behave  like a "row" */
			border: none;
			border-bottom: 0px solid #eee; 
			position: relative;
			padding-left: 50%; 
		}
		
		table.responsive3 td:before { 
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 6px;
			left: 6px;
			width: 45%; 
			padding-right: 10px; 
			white-space: nowrap;
			color:#0f9dbd;
		}
		
		/*
		Label the data
		*/
		table.responsive3 td:nth-of-type(1):before { content: "Descripci��n"; }
		table.responsive3 td:nth-of-type(2):before { content: "Numero de serie"; }
		table.responsive3 td:nth-of-type(3):before { content: "Suma asegurada"; }
	}
	
	/* Tabla 4 */
	
	/* 
	Generic Styling, for Desktops/Laptops 
	*/
	table.responsive4  { 
		width: 100%; 
		border-collapse: collapse; 
		
	}
	/* Zebra striping */
	table.responsive4 tr:nth-of-type(odd) { 
		background: #f9f9f9; 
	}
	table.responsive4 th { 
		background-color:white;
		color:#0f9dbd;
		font-weight: bold; 
	}
	table.responsive4 td, th { 
		padding: 6px; 
		border-bottom: 1px solid #ccc; 
		text-align: left; 
	}

/* 
	Max width before this PARTICULAR table gets nasty
	This query will take effect for any screen smaller than 760px
	and also iPads specifically.
	*/
	@media 
	only screen and (max-width: 760px),
	(min-device-width: 768px) and (max-device-width: 1024px)  {
	
		/* Force table to not be like tables anymore */
		.responsive4 table, .responsive4 thead, .responsive4 tbody, .responsive4 th, .responsive4 td, .responsive4 tr { 
			display: block;
			font-size:10px; 
		}
		
		/* Hide table headers (but not display: none;, for accessibility) */
		table.responsive4 thead tr { 
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
		
		table.responsive4 tr { border: 1px solid #ccc; }
		
		table.responsive4 td { 
			/* Behave  like a "row" */
			border: none;
			border-bottom: 0px solid #eee; 
			position: relative;
			padding-left: 50%; 
		}
		
		table.responsive4 td:before { 
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 6px;
			left: 6px;
			width: 45%; 
			padding-right: 10px; 
			white-space: nowrap;
			color:#0f9dbd;
		}
		
		/*
		Label the data
		*/
		table.responsive4 td:nth-of-type(1):before { content: "Cotizacion"; }
		table.responsive4 td:nth-of-type(2):before { content: "Nombre"; }
		table.responsive4 td:nth-of-type(3):before { content: "Descripcion delvehiculo"; }
		table.responsive4 td:nth-of-type(4):before { content: "Borrar"; }
	}
	
	/* Tabla 7 */
	
	/* 
	Generic Styling, for Desktops/Laptops 
	*/
	table.responsive7  { 
		width: 100%; 
		border-collapse: collapse; 
		
	}
	/* Zebra striping */
	table.responsive7 tr:nth-of-type(odd) { 
		background: #f9f9f9; 
	}
	table.responsive7 th { 
		background-color:white;
		color:#0f9dbd;
		font-weight: bold; 
	}
	table.responsive7 td, th { 
		padding: 6px; 
		border-bottom: 1px solid #ccc; 
		text-align: left; 
	}

/* 
	Max width before this PARTICULAR table gets nasty
	This query will take effect for any screen smaller than 760px
	and also iPads specifically.
	*/
	@media 
	only screen and (max-width: 760px),
	(min-device-width: 768px) and (max-device-width: 1024px)  {
	
		/* Force table to not be like tables anymore */
		.responsive7 table, .responsive7 thead, .responsive7 tbody, .responsive7 th, .responsive7 td, .responsive7 tr { 
			display: block;
			font-size:10px; 
		}
		
		/* Hide table headers (but not display: none;, for accessibility) */
		table.responsive7 thead tr { 
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
		
		table.responsive7 tr { border: 1px solid #ccc; }
		
		table.responsive7 td { 
			/* Behave  like a "row" */
			border: none;
			border-bottom: 0px solid #eee; 
			position: relative;
			padding-left: 50%; 
		}
		
		table.responsive7 td:before { 
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 6px;
			left: 6px;
			width: 45%; 
			padding-right: 10px; 
			white-space: nowrap;
			color:#0f9dbd;
		}
		
		/*
		Label the data
		*/
		table.responsive7 td:nth-of-type(1):before { content: "Descripcion"; }
		table.responsive7 td:nth-of-type(2):before { content: "No. Serie"; }
		table.responsive7 td:nth-of-type(3):before { content: "Suma Asegurada"; }
	}
	
	/* Tabla 5 */
	
	/* 
	Generic Styling, for Desktops/Laptops 
	*/
	table.responsive5  { 
		width: 100%; 
		border-collapse: collapse; 
		
	}
	/* Zebra striping */
	table.responsive5 tr:nth-of-type(odd) { 
		background: #f9f9f9; 
	}
	table.responsive5 th { 
		background-color:white;
		color:#0f9dbd;
		font-weight: bold; 
	}
	table.responsive5 td, th { 
		padding: 6px; 
		border-bottom: 1px solid #ccc; 
		text-align: left; 
	}

/* 
	Max width before this PARTICULAR table gets nasty
	This query will take effect for any screen smaller than 760px
	and also iPads specifically.
	*/
	@media 
	only screen and (max-width: 760px),
	(min-device-width: 768px) and (max-device-width: 1024px)  {
	
		/* Force table to not be like tables anymore */
		.responsive5 table, .responsive5 thead, .responsive5 tbody, .responsive5 th, .responsive5 td, .responsive5 tr { 
			display: block;
			font-size:10px; 
		}
		
		/* Hide table headers (but not display: none;, for accessibility) */
		table.responsive5 thead tr { 
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
		
		table.responsive5 tr { border: 1px solid #ccc; }
		
		table.responsive5 td { 
			/* Behave  like a "row" */
			border: none;
			border-bottom: 0px solid #eee; 
			position: relative;
			padding-left: 50%; 
		}
		
		table.responsive5 td:before { 
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 6px;
			left: 6px;
			width: 45%; 
			padding-right: 10px; 
			white-space: nowrap;
			color:#0f9dbd;
		}
		
		/*
		Label the data
		*/
		table.responsive5 td:nth-of-type(1):before { content: "#"; }
		table.responsive5 td:nth-of-type(2):before { content: "No. Cotizacion"; }
		table.responsive5 td:nth-of-type(3):before { content: "Descripcion"; }
		table.responsive5 td:nth-of-type(4):before { content: "Estado"; }
		table.responsive5 td:nth-of-type(5):before { content: "Grupo-Subgrupo"; }
		table.responsive5 td:nth-of-type(6):before { content: "Perfil de Tarifa"; }
		table.responsive5 td:nth-of-type(7):before { content: "Editar"; }
	}
	
	/* Tabla 6 */
	
	/* 
	Generic Styling, for Desktops/Laptops 
	*/
	table.responsive6  { 
		width: 100%; 
		border-collapse: collapse; 
		
	}
	/* Zebra striping */
	table.responsive6 tr:nth-of-type(odd) { 
		background: #f9f9f9; 
	}
	table.responsive6 th { 
		background-color:white;
		color:#0f9dbd;
		font-weight: bold; 
	}
	table.responsive6 td, th { 
		padding: 6px; 
		border-bottom: 1px solid #ccc; 
		text-align: left; 
	}

/* 
	Max width before this PARTICULAR table gets nasty
	This query will take effect for any screen smaller than 760px
	and also iPads specifically.
	*/
	@media 
	only screen and (max-width: 760px),
	(min-device-width: 768px) and (max-device-width: 1024px)  {
	
		/* Force table to not be like tables anymore */
		.responsive6 table, .responsive6 thead, .responsive6 tbody, .responsive6 th, .responsive6 td, .responsive6 tr { 
			display: block;
			font-size:10px; 
		}
		
		/* Hide table headers (but not display: none;, for accessibility) */
		table.responsive6 thead tr { 
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
		
		table.responsive6 tr { border: 1px solid #ccc; }
		
		table.responsive6 td { 
			/* Behave  like a "row" */
			border: none;
			border-bottom: 0px solid #eee; 
			position: relative;
			padding-left: 50%; 
		}
		
		table.responsive6 td:before { 
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 6px;
			left: 6px;
			width: 45%; 
			padding-right: 10px; 
			white-space: nowrap;
			color:#0f9dbd;
		}
		
		/*
		Label the data
		*/
		table.responsive6 td:nth-of-type(1):before { content: "Seleccione"; }
		table.responsive6 td:nth-of-type(2):before { content: "No. de Recibo"; }
		table.responsive6 td:nth-of-type(3):before { content: "Fecha de emision"; }
		table.responsive6 td:nth-of-type(4):before { content: "Fecha de inicio"; }
		table.responsive6 td:nth-of-type(5):before { content: "Fecha de termino"; }
		table.responsive6 td:nth-of-type(6):before { content: "Importe"; }
	
	}
	
	/* Smartphones (portrait and landscape) ----------- */
	@media only screen
	and (min-device-width : 320px)
	and (max-device-width : 480px) {
		body { 
			padding: 0; 
			margin: 0;
			
			width: 320px;
			}
		}
		.botonera {
			font-size:.8em;
			height:80px;
		}
		
		
	
	/* iPads (portrait and landscape) ----------- */
	@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
		body { 
			width: 495px; 
		}
	}
	
	
	.tabla1 {
		background-color:white;
		border-radius:10px;
		height:200px;
		overflow:scroll;
		
		margin-bottom:15px;
	}
	

.botonera {
	height:80px;
	margin-bottom:15px;
	text-align:center;
}
.botonera:active,
.botonera.active {
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #4E8C96;
	*background-color: #4E8C96;
	background-image: -moz-linear-gradient(top, #6BAEB3, #4E8C96);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6BAEB3), to(#4E8C96));
	background-image: -webkit-linear-gradient(top, #6BAEB3, #4E8C96);
	background-image: -o-linear-gradient(top, #6BAEB3, #4E8C96);
	background-image: linear-gradient(to bottom, #6BAEB3, #4E8C96);
	background-repeat: repeat-x;
	border-color: #4E8C96;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6BAEB3', endColorstr='#4E8C96', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	border-radius:5px;
}

.tab-header {
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #4E8C96 !important;
	*background-color: #4E8C96;
	background-image: -moz-linear-gradient(top, #6BAEB3, #4E8C96) !important;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6BAEB3), to(#4E8C96)) !important;
	background-image: -webkit-linear-gradient(top, #6BAEB3, #4E8C96) !important;
	background-image: -o-linear-gradient(top, #6BAEB3, #4E8C96) !important;
	background-image: linear-gradient(to bottom, #6BAEB3, #4E8C96) !important;
	background-repeat: repeat-x ;
	border-color: #4E8C96;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6BAEB3', endColorstr='#4E8C96', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	border-radius:5px;
}

.tab-header a { 
	color: white !important;
	font-size: 14px;
}

.fila-small {
	font-size:12px;
	background:white;
	border-radius:10px;
	border: 1px solid #cfcfcf;
	margin:0px 15px;
	padding:15px;
}

.precio {
	font-weight:bold;
	font-size:1.3em;
}
.aviso {
	top:300px;
	position:fixed;
	color:white;
	z-index:9999;
	padding:5px 10px;

	float:rigth;
	right:0px;
	text-align:right;
}

.fila-alfa {
	font-size:12px;
	margin:0px 15px;
	padding:15px;
}

fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;

}
}
.ui-icon {
	width: 50px;
	height: 50px;
	background-image:
		url("#{resource['primefaces-aristo:images/ui-icons_ffffff_256x240.png']}");
}

.form02 {
	margin-top:10px;
}
.form03 {
	margin-right:10px;
}
.ui-dialog .ui-dialog-titlebar {
	display: none !important;
}

.ui-dialog .ui-dialog-content {
	padding: 0 !important;
	margin: 0 !important;
}

.ui-dialog {
	padding: 10px !important;
	margin: 0;
}

#panel-pink .ui-button-text {
    background-color: #d0107c;
  	border-color: #d0107c;
  	color: white;
}

#panel-blue .ui-button-text {
    background-color: #0d89a5;
  	border-color: #0b768e;
  	color: white;
}

.rfc {
	font-size: 0.8em;
}

.botonera-block {
	background-color:rgba(64,64,64,.7);
	z-index:999;
	position:absolute;
	width:100%;
	height:100%;
	
}

.text-botonera-block {
	top:40%;
	text-align:center;
	color:white;
	z-index:9999;
	position:absolute;
	width:90%;
	height:90%;
	font-size:1.6em;
	font-weight:bold;
	text-shadow:3px 3px 3px black;
	padding:10px;
	 font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#sidebar { 
   position:fixed;
   left:0;
   bottom:0;
   height:auto;
   width:100%;
   margin-bottom:-15px;
   color:black;
   padding:15px;
   text-align:center; 
	}
/*inicia estilos login*/
#frmLogin > div.form-group .row{
	text-align:right;
	font-weight: bold;
}

#frmLogin > div.form-group > div:nth-child(10) > span{
	font-weight: normal !important;
}
/*termina estilos login*/

.purple{
	color:#5a2d7f;
}

#frmcotizacion\:opcionescot > tbody > tr > td:nth-child(1) > div {
margin-left: 80px;
}

#frmcotizacion\:opcionescot > tbody > tr > td:nth-child(3) > div {
margin-left: 170px;
}

#frmcotizacion\:opcionescot > tbody > tr > td:nth-child(5) > div {
margin-left: 170px;
}

#frmcotizacion\:opcionescot > tbody > tr > td:nth-child(7) > div {
margin-left: 170px;
}

.logorsa_right{
background-image: url("../img/logorsa.png" );
-webkit-background-size: 158px 82px;        
-moz-background-size: 158px 82px;           
-o-background-size:158px 82px;         
background-size: 158px 82px;  
background-repeat: no-repeat;
background-position: center;
width:100%;
height:82px;
max-width:158px;
float:right;
margin-right:40px;
}

@media all and (min-width : 1020px) {
.imglogin{
background-image:url("../img/login2.png");
background-repeat:no-repeat;
background-position:right;
width:100%;
height:400px;
position: relative;
margin-top:-450px;
z-index:-1;
}
}
.logo_right{
background-image: url("../img/site/logotipomotor.png" );
-webkit-background-size: 340px 60px;        
-moz-background-size: 340px 60px;           
-o-background-size:340px 60px;         
background-size: 340px 60px;  
background-repeat: no-repeat;
background-position: center;
width:100%;
height:90px;
max-width:345px;
float:right;
margin-right:40px;
}

.ui-selectmanycheckbox label, .ui-selectoneradio label{
	margin-right:25px !important;
}

.separator{
	background-image:url("../img/site/lnbk.png");
	background-size:1170px 30px;
	background-repeat:no-repeat;
	background-position:center;
	width:1170px;
	height:30px;
	
}

/**inicia bullets**/
.bullets {
	text-align:center;
	width:100%;
	max-width:625px;
}


.bullet_01{
	background-image:url("../img/site/bullet_01.png");
	background-size:625px 88px;
	background-repeat:no-repeat;
	background-position:center;
	height:88px;
	width:100%;
	max-width:625px;
	}
.bullet_01_xs{
	background-image:url("../img/site/bullet_01_xs.png");
	background-size:665px 88px;
	background-repeat:no-repeat;
	background-position:center;
	width:625px;
	height:88px;
}

.bullet_02{
	background-image:url("../img/site/bullet_02.png");
	background-size:625px 88px;
	background-repeat:no-repeat;
	background-position:center;
	height:88px;
	width:100%;
	max-width:625px;
	}
.bullet_02_xs{
	background-image:url("../img/site/bullet_02_xs.png");
	background-size:665px 88px;
	background-repeat:no-repeat;
	background-position:center;
	width:625px;
	height:88px;
}

.bullet_03{
	background-image:url("../img/site/bullet_03.png");
	background-size:625px 88px;
	background-repeat:no-repeat;
	background-position:center;
	height:88px;
	width:100%;
	max-width:625px;
	}
.bullet_03_xs{
	background-image:url("../img/site/bullet_03_xs.png");
	background-size:665px 88px;
	background-repeat:no-repeat;
	background-position:center;
	width:625px;
	height:88px;
}

.bullet_04{
	background-image:url("../img/site/bullet_04.png");
	background-size:625px 88px;
	background-repeat:no-repeat;
	background-position:center;
	height:88px;
	width:100%;
	max-width:625px;
	}
.bullet_04_xs{
	background-image:url("../img/site/bullet_04_xs.png");
	background-size:665px 88px;
	background-repeat:no-repeat;
	background-position:center;
	width:625px;
	height:88px;
}

.bullet_05{
	background-image:url("../img/site/bullet_04.png");
	background-size:625px 88px;
	background-repeat:no-repeat;
	background-position:center;
	height:88px;
	width:100%;
	max-width:625px;
	}
.bullet_05_xs{
	background-image:url("../img/site/bullet_04_xs.png");
	background-size:665px 88px;
	background-repeat:no-repeat;
	background-position:center;
	width:625px;
	height:88px;
}



/**termina bullets**/