@charset "utf-8";
/* CSS Document */

body {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	color: #89867e;
	background: #f9f9f9;
} 

.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

.wrapper{
	background-color:#fff;
	height:auto;
	}
.header{
	background-color:#fff;
	height: 145px;
		}
	
.content{
	width:100%;
	display:inline-flex;
	z-index:-1;
	
		}
		
.logo{
	width:15%;
	height:100px;
	background-image:url(../img/logorsa.png);
	background-repeat:no-repeat;
	margin-left:2%;
	margin-top:2%;
	float:left;

}
	

		
.welcome{
	width:15%;
	float:right;
	height:100px;
	background-color:#fff;
	margin-top:2%;
	color:#b40084;
	font-size:18px;
	}
	
.pleca{
	width:100%;
	background-color:rgb(180, 0, 132);
	height:30px;
	z-index:-1;
	}
		

.middle{
	border:#ccc 1px solid;
	text-align:center;
	display: inline; 
	}

	
.footer{
	width:100%;
	background-color:#333333;
	margin: 0 auto;
	height:150px;
	color:#fff !important;
	display:inline-flex !important;
}
	
.footer-img{	
	background-image:url(../img/small-logo.png);
	background-repeat:no-repeat;
	background-position: left, center;
	width:20%;
	height:150px;
	margin-left:7%;
	float:left;
}

.footer a{
		color:#fff !important;
		
	}
	

.footer ul{
	margin-top:50px;
	}

.main,
.container > header {
	width: 100%;
	margin: 0 auto;
	padding: 0em;
}

.main {
	max-width: 82.667em;
	/**min-height: 40em;**/
}

.margin-top{
	margin-top:50px;
	}
	
	
.menuright{
	width:17%;
	float:right;
	background-color:#fff;
	
	}

.cotizadores ul{
	list-style-type:none;
	border-bottom:solid 1px #ccc;
	}
	
.contacto{
	text-align:center;
	font-size:28px;
	margin:10px;
	}

.purple{
	color:#906;
	font-size:32px;
	}
.social{
	margin-top:15px;
	text-align:center;
	font-size:20px;
	margin-bottom:15px;
	}
	
.motor{
	background-image:url(../img/motor.png);
	background-repeat:no-repeat;
	width:172px;
	height:70px;
		
	}
.home{
	background-image:url(../img/home.png);
	background-repeat:no-repeat;
	width:172px;
	height:70px;
		
	}
	
.pet{
	background-image:url(../img/pet.png);
	background-repeat:no-repeat;
	width:172px;
	height:70px;
		
	}
	
.vida{
	background-image:url(../img/vida.png);
	background-repeat:no-repeat;
	width:172px;
	height:70px;
		
	}
	
.menuleft nav ul{
	display:block;
	-webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
	background-color:#e8e6dc;
	text-align:left;
	
	
	
	
	}
	
	.menuleft{
	width:17%;
	float:left;
	height:150px;
	background-color:#e8e6dc;
	}

	
.menuleft nav ul li {
    text-decoration:none;
    margin-bottom:5px;
	background-color:#e8e6dc;
	border-bottom: solid 1px #CC0099;
	padding-left:20px;
	padding-bottom:10px;
	list-style-type: none;
	
	
	}

.menuleft nav ul li a{
	text-decoration:none;
     margin-bottom:5px;
	}
	
	.menuleft nav ul li ul li{
    text-decoration:none;
    margin-bottom:2px;
	background-color:#e8e6dc;
	border-bottom: none !important;
	padding-left:20px;
	padding-bottom:10px;
	list-style-type:circle;
	}
	
